#output {
  display:none;
}

#j {
  display: none;
  height: 400px;
  width: 400px;
}

#z {
  display: none;
  height: 400px;
  width: 400px;
}

#kanye {
  display: none;
  height: 400px;
  width: 400px;
}

#kim {
  display: none;
  height: 400px;
  width: 400px;
}
